@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Montserrat", sans-serif;
  height: -webkit-fill-available;
}

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: white;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

hr {
  margin-left: -5rem;
  color: #5555557b;
  width: 100%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 100px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 115px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #646464;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #e16213;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

.logo img {
    position: absolute;
    width: 14rem;
    height: 14rem;
    top: -70%;
}

#food-menu {
    padding-top: 100px;
}

.food-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #d25a0f;
  text-transform: uppercase;
  font-family:  'Freckle Face', cursive;
}

.food-menu-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-left: 15rem;
}

.food-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.food-menu-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.food-description {
  margin: auto 1.5rem;
}

.food-title {
  font-size: 1.8rem !important;
  font-weight: 700;
  width: 100%;
  margin-left: -12rem;
  color: #444;
  text-transform: capitalize;
  font-family:  'Freckle Face', cursive;
}

.food-description p {
  font-size: 1.4rem !important;
  color: #555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 2rem !important;
  width: 100%;
  line-height: 18px;
  margin-top: 2rem;
  margin-left: -12rem;
}

.food-description .food-price {
  color: #e16213bc;
  font-weight: 700;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  text-align: center;
}

.footer__heading {
  color: var(--text-light);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 90px;
  background-color: var(--text-light);
  left: 40%;
}

.footer__col p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.footer__bar {
  width: 100%;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #d25a0f;
  align-items: center;
  gap: 2rem;
}

.footer__bar h2 {
  text-align: center;
}

.copyright {
  font-size: 1rem;
  font-weight: 500;
  margin: auto;
  width: 100%;
  color: var(--text-light);
  text-align: center;
  background-color: #d25a0f;
  border: none;
  padding-top: -3rem;
  padding-bottom: 2rem;
}

.location {
  font-size: 1rem;
  font-weight: 500;
  margin: auto;
  width: 100%;
  color: var(--text-light);
  text-align: center;
  background-color: #d25a0f;
  border: none;
  padding-top: 4rem;
  padding-bottom: -2rem;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form .form-input {
  width: 100%;
  margin-top: 1px;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer__form .sub-btn {
  background-color: var(--text-dark);
  color: var(--white);
}

footer a {
  color: #6b7280;
}

footer i {
  margin-right: 1rem;
  color: white;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .img-container {
    margin: 0;
  }

  .food-menu-container img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 500px) {
    html {
      font-size: 65%;
    }
  
    .navbar .menu-items li {
      font-size: 1.6rem;
    }
  
    .food-menu-container img {
      margin: auto;
      width: 140px;
      height: 140px;
      margin-left: 4rem;
    }
  
    .form-container {
      width: 90%;
    }

    hr {
      margin-left: 3.5rem;
    }

    .food-menu-item {
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 2s ease, transform 1s ease;
    }

    .food-menu-item.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .navbar {
        height: 60px;
        width: 100%;
        margin: auto;
      }
  
    .logo {
      position: absolute;
      width: 100%;
      top: -67%;
      left: 68%;
    }

    .menu-items .logo {
        top: 50%;
        left: 50%;
    }
  
    .navbar .menu-items li {
      margin-bottom: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
    
    .food-menu-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      margin-top: 5rem;
      margin-left: -2rem;
    }
    
    .food-menu-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
    
    .food-description {
      margin: auto 1.5rem;
      margin-left: 2rem;
    }
    
    .food-title {
      font-size: 1.4rem;
      font-weight: 900;
      width: 145%;
      margin-left: -1rem;
      margin-bottom: 1rem;
      color: #444;
    }
    
    .food-description p {
      font-size: 1.1rem;
      color: #555;
      font-weight: 500;
      width: 138%;
      margin-left: -1rem;
    }
    
    .food-description .food-price {
      font-size: 1.5rem;
      font-weight: 900;
      margin-top: 1rem;
      width: 50%;
      text-align: center;
      border: 1px solid #e16213;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 15px;
    }

    .footer__heading {
      text-align: center;
      color: white;
    }

    .footer__heading::after {
      left: 25%;
    }

    .footer__col h4 {
      color: white;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
      font-size: 1.5rem;
    }
  }